<div class="home page">
    <div class="home__header"></div>
    <div class="home__banner">
        <div class="container">
            <div class="welcome">
                <h1>
                    Domono's pizza ordering

                    <small>Realtime order updates</small>
                </h1>
                <a href="/menus" class="cta">Order online now</a>
                <div class="ad"></div>
            </div>
        </div>
    </div>
    <div class="home__sections">

        <div class="coupons">
            <div class="container">
                <h3>Coupons & Offers</h3>
                <div class="all-coupons">
                    <div class="wrapper">
                        <div class="coupon"></div>
                        <div class="coupon"></div>
                        <div class="coupon"></div>
                        <div class="coupon"></div>
                        <div class="coupon"></div>
                        <div class="coupon"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="explore">
            <div class="container">
                <h3>Explore</h3>
                <div class="explore-menus">
                    <a href="#" class="col">
                        <div class="explore-card">
                            <div class="card-top">
                                <div class="img">
                                    <span class="material-icons-outlined">
                                        menu_book
                                    </span>
                                </div>
                                <h3>Our Menu</h3>
                                <p>Explore our range of delicious Pizzas, delivered in 30 minutes!</p>
                            </div>
                            <div class="card-footer">Discover Pizza</div>
                        </div>
                    </a>
                    <a href="#" class="col">
                        <div class="explore-card">
                            <div class="card-top">
                                <div class="img">
                                    <span class="material-icons-outlined">
                                        store_mall_directory
                                    </span>
                                </div>
                                <h3>Nearby Store</h3>
                                <p>Find a Domino’s Pizza restaurant near you</p>
                            </div>
                            <div class="card-footer">FInd Stores</div>
                        </div>
                    </a>
                    <a href="#" class="col">
                        <div class="explore-card">
                            <div class="card-top">
                                <div class="img">
                                    <span class="material-icons-outlined">
                                        cake
                                    </span>
                                </div>
                                <h3>Birthday Party</h3>
                                <p>Celebrate the joy of birthday with Fresh & Hot pizzas</p>
                            </div>
                            <div class="card-footer">Book Later</div>
                        </div>
                    </a>
                    <a href="#" class="col">
                        <div class="explore-card">
                            <div class="card-top">
                                <div class="img">
                                    <span class="material-icons-outlined">
                                        local_dining
                                    </span>
                                </div>
                                <h3>Catering</h3>
                                <p>Live Domino's Kitchen for weddings / corporate events</p>
                            </div>
                            <div class="card-footer">Book Later</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="app-promo">
            <div class="container">
                <div class="phones">
                    <div class="iphone"></div>
                    <div class="pixel"></div>
                </div>
                <div class="text">
                    <h2>Unlock Exclusive Offers</h2>
                    <p>For lightning fast experience please download the domonos app.</p>
                    <div class="btns">
                        <div class="app-btn appstore"></div>
                        <div class="app-btn playstore"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="qna">

            <div class="container">
                <h5>
                    Domono's Pizza: Cloning Happiness
                </h5>
                <p>
                    What’s better than having a crispy melty pizza, you ask?
                    Having that crispy and melty pizza in the comfort of your own home with the ones you love, we say.
                </p>

                <p> There is something for everyone here. The vegetarians, non-vegetarians, the sides’ lovers and also
                    the ones who love to have something sweet by the time they reach the last bite of the last slice of
                    pizza slice. Domonos is a clone of Domino's Website and the options are copied from Dominos Website.
                </p>
                <p>Get started with account creation by email and password. Choose items from varieties of options for
                    pizzas, side menus, beverages, desserts and add them to
                    cart. After you've added contact and checkout address, order can be placed. Store admin will confirm
                    your account and you'll get realtime updates. </p>


                <h5> Technology Information</h5>
                <p>Domonos Pizza is developed with Node.js and uses MVC pattern. Backend is powered by Express and
                    MongoDB. Realtime updates is using Socket.io. It uses Vanilla JS and EJS for frontend
                    implementation.</p>
                <p>Site uses session cookies for better user experience.</p>

            </div>
        </div>
    </div>
</div>