<div class="alert-overlay" id="alertUI">
    <div class="alert-wrapper">
        <div class="alertbox">
            <h4 id="alertTitle"></h4>
            <p id="alertText"></p>
            <button type="button" id="alertOKBtn">OK</button>
        </div>
    </div>
</div>