<footer class="site__footer">
    <div class="footer-top">
        <div class="container padded">
            <div class="footer-links">
                <div class="brand">
                    <a href="/">
                        <img src="/images/logo.png" alt="logo">
                        <span>Domono's Pizza</span>
                    </a>
                </div>
                <div class="links">
                    <a href="#">Disclaimer</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Faq</a>
                    <a href="#">Terms & Conditions</a>
                    <a href="#">Feedback</a>
                </div>
            </div>
            <div class="app-links">
                <h5>No Apps Available on</h5>
                <div class="btns">
                    <div class="app-btn appstore"></div>
                    <div class="app-btn playstore"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            All Rights Reserved. Copyright &copy; Domono's Pizza
        </div>
    </div>
</footer>