<div class="site__drawer drawer_right" id="drawerRight">
    <div class="location-wrapper">
        <h3>Order Online</h3>
        <div class="inline-radios">
            <label for="deliver">
                <input type="radio" name="" checked id="deliver">
                <span>Delivery</span>
            </label>
            <label for="dinein" class="disabled">
                <input type="radio" name="" disabled id="dinein">
                <span>Dine-in/ Pickup</span>
            </label>
        </div>
        <p>We will deliver right to your door</p>
        <div class="input-field">
            <div class="inputbox">
                <input type="text" placeholder="Enter Area / Locality">
                <button type="button">
                    <span class="material-icons">
                        gps_fixed
                    </span>
                    Locate Me
                </button>
            </div>
        </div>
        <% if(!user) { %>
        <div class="empty-locations">
            <div class="img">
                <img src="/images/empty_2@2x.png" alt="...">
            </div>
            <div class="my">
                <button type="button">My Address</button>
                <small>Login to use your saved addresses</small>

                <p>Please select location, so that we can find a restaurant that delivers to you!</p>
            </div>
        </div>
        <% } else { %>
        <% if(user.addresses.length > 0) {%>
        <div class="saved-addresses">
            <p>Saved Address</p>
            <div class="address-list">
                <% user.addresses.forEach(address => { %>
                <div class="address">
                    <div class="picker">
                        <span class="material-icons-outlined">
                            location_on
                        </span>
                        <p>
                            <span><%= address.name %></span>
                            <small><%= address.fullAddress %></small>
                        </p>
                    </div>
                    <div class="delete" role="button">
                        <span class="material-icons-outlined">
                            delete_outline
                        </span>
                        <!-- Are you sure you want to remove the address? -->
                    </div>
                </div>
                <% })%>
            </div>
        </div>
        <% } else { %>
        <div class="empty-locations user">
            <div class="img">
                <img src="/images/no_address.png" alt="...">
            </div>
            <div class="my">
                <button type="button">Add New Address</button>
                <small>We don't see any saved addresses</small>

                <p>Please add location, so that we can find a restaurant that delivers to you!</p>
            </div>
        </div>
        <% }%>
        <% }%>
    </div>
</div>