.noty_layout_mixin,
#noty_layout__centerRight,
#noty_layout__centerLeft,
#noty_layout__center,
#noty_layout__bottomRight,
#noty_layout__bottomCenter,
#noty_layout__bottomLeft,
#noty_layout__bottom,
#noty_layout__topRight,
#noty_layout__topCenter,
#noty_layout__topLeft,
#noty_layout__top {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%;
}

#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%;
}

#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px;
}

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px;
}

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
}

.noty_progressbar {
  display: none;
}

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10);
}

.noty_bar {
  -webkit-backface-visibility: hidden;
  transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
}

.noty_effects_open {
  opacity: 0;
  transform: translate(50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
          animation: noty_anim_height 75ms ease-out;
}

.noty_close_with_click {
  cursor: pointer;
}

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: 0.3;
  left: 0;
  top: 0;
}

.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in 0.3s ease-out;
          animation: noty_modal_in 0.3s ease-out;
}

.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out 0.3s ease-out;
          animation: noty_modal_out 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes noty_modal_in {
  100% {
    opacity: 0.3;
  }
}

@keyframes noty_modal_in {
  100% {
    opacity: 0.3;
  }
}

@-webkit-keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@keyframes noty_modal_out {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes noty_anim_in {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes noty_anim_in {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes noty_anim_out {
  100% {
    transform: translate(50%);
    opacity: 0;
  }
}

@keyframes noty_anim_out {
  100% {
    transform: translate(50%);
    opacity: 0;
  }
}

@-webkit-keyframes noty_anim_height {
  100% {
    height: 0;
  }
}

@keyframes noty_anim_height {
  100% {
    height: 0;
  }
}

.noty_theme__mint.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}

.noty_theme__mint.noty_bar .noty_body {
  padding: 10px;
  font-size: 14px;
}

.noty_theme__mint.noty_bar .noty_buttons {
  padding: 10px;
}

.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  background-color: #fff;
  border-bottom: 1px solid #D1D1D1;
  color: #2F2F2F;
}

.noty_theme__mint.noty_type__warning {
  background-color: #FFAE42;
  border-bottom: 1px solid #E89F3C;
  color: #fff;
}

.noty_theme__mint.noty_type__error {
  background-color: #DE636F;
  border-bottom: 1px solid #CA5A65;
  color: #fff;
}

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
  background-color: #7F7EFF;
  border-bottom: 1px solid #7473E8;
  color: #fff;
}

.noty_theme__mint.noty_type__success {
  background-color: #AFC765;
  border-bottom: 1px solid #A0B55C;
  color: #fff;
}

:root {
  --primary-color-rgb: 0, 102, 167;
  --page-background: #fff;
  --page-background-alt: rgb(242, 242, 242);
  --green: rgb(130, 187, 55);
  --green-hover: rgb(115, 167, 48);
  --green-alt: rgb(0, 171, 0);
  --navbar-link-color: #fff;
  --text-color: #343434;
  --text-color-muted: #777;
  --footer-background: rgb(26, 39, 53);
  --footer-background-alt: rgb(34, 46, 58);
  --btn-border-radius: 3px;
  --card-border-radius: 3px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--page-background);
  font-family: "Lato", sans-serif;
  overflow: auto;
}

body.noscroll {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
}

a {
  text-decoration: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.container {
  width: 100%;
  padding: 0 50px;
}

.container.padded {
  padding-left: 100px;
  padding-right: 100px;
}

.btn {
  border: none;
  padding: 0.6rem 1rem;
  line-height: 1;
  border-radius: var(--btn-border-radius);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-size: 15px;
}

.btn-sm {
  padding: 0.4rem;
  font-size: 12px;
}

.noty_theme__mint.noty_bar {
  border-radius: 4px;
}

.noty_theme__mint.noty_bar .noty_body {
  padding: 1rem;
  font-size: 16px;
}

.noty_theme__mint.noty_type__success {
  background-color: var(--green-hover);
  border-bottom: 1px solid var(--green-hover);
}

.noty_theme__mint.noty_type__error {
  background-color: #e24c5b;
  border-bottom: 1px solid #e24c5b;
}

.alert-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: -10;
}

.alert-overlay.shown {
  z-index: 10;
  display: block;
}

.alert-overlay .alert-wrapper {
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
}

.alert-overlay .alert-wrapper .alertbox {
  background-color: #fff;
  min-width: 400px;
  border-radius: 3px;
  width: 25vw;
}

.alert-overlay .alert-wrapper .alertbox h4 {
  display: block;
  background: url("/images/popup_header.svg") no-repeat;
  background-size: contain;
  background-position: top left;
  margin: -11px 0 0;
  height: 40px;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  line-height: 1;
  font-weight: 400;
}

.alert-overlay .alert-wrapper .alertbox p {
  margin: 0 0 10px;
  padding: 15px;
  font-weight: 600;
}

.alert-overlay .alert-wrapper .alertbox button {
  float: right;
  margin: 15px;
  padding: 0.8rem;
  background-color: #65ab0b;
  color: #fff;
  line-height: 1;
  border: 1px solid rgba(53, 53, 53, 0.46);
  border-radius: 2px;
  cursor: pointer;
}

.site__header {
  background-color: rgb(var(--primary-color-rgb));
  padding: 0 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 56px;
}

.site__header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site__header .header-wrapper .hamburger {
  width: 60px;
  color: #fff;
  cursor: pointer;
}

.site__header .header-wrapper .hamburger.inactive {
  pointer-events: none;
  opacity: 0.6;
}

.site__header .header-wrapper .brand {
  margin-right: auto;
}

.site__header .header-wrapper .brand a {
  color: var(--navbar-link-color);
}

.site__header .header-menus {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.site__header .header-menus.inactive {
  pointer-events: none;
  opacity: 0.6;
}

.site__header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.site__header nav ul li a {
  color: var(--navbar-link-color);
}

.site__header .location-menu {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 10px;
  color: var(--navbar-link-color);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  height: 56px;
  background-color: #005899;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.site__header .location-menu span {
  width: 40px;
  text-align: center;
  opacity: 0.7;
}

.site__header .location-menu p {
  margin: 0 16px;
}

.site__header .location-menu p small {
  display: block;
  font-size: 12px;
  opacity: 0.8;
  margin-top: 2px;
}

.site__header .location-menu + .user-menu {
  border-left: none;
}

.site__header .cart-menu a {
  display: flex;
  align-items: center;
  color: var(--navbar-link-color);
}

.site__header .cart-menu span {
  margin-right: 15px;
}

.site__header .user-menu {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin: 0 10px 0 0;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 16px;
}

.site__header .user-menu .user-icon {
  justify-self: center;
  color: var(--navbar-link-color);
}

.site__header .user-menu .user-icon span {
  font-size: 30px;
}

.site__header .user-menu .user-info {
  color: var(--navbar-link-color);
  padding: 10px 0;
}

.site__header .user-menu .user-info p {
  margin: 0;
}

.site__header .user-menu .user-info small {
  opacity: 0.8;
}

.site__header .user-menu .user-info small span + span::before {
  content: "|";
  margin: 0 6px;
}

.site__header .user-menu .user-info a {
  color: inherit;
}

.site__drawer {
  width: 400px;
  background-color: #fff;
  position: fixed;
  top: 56px;
  bottom: 0;
  box-shadow: 0 2px 10px rgba(82, 98, 116, 0.3);
  transition: transform 0.2s ease-in-out;
  z-index: 11;
}

.site__drawer.drawer_left {
  left: 0;
  transform: translateX(-100%);
}

.site__drawer.drawer_right {
  width: 586px;
  right: 0;
  transform: translateX(100%);
}

.site__drawer.opened {
  transform: translateX(0);
}

.drawer-menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.drawer-menu-list li:first-child {
  margin-top: 15px;
}

.drawer-menu-list li a {
  display: block;
  padding: 1.45rem 2rem 1.45rem 5rem;
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  font-size: 16px;
}

.drawer-menu-list li a span {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
}

.drawer-menu-list li:hover {
  background-color: #fafafa;
}

.location-wrapper {
  padding: 2rem 4rem;
}

.location-wrapper h3 {
  margin: 0.5rem 0 1rem;
  font-size: 25px;
}

.location-wrapper .inline-radios {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.location-wrapper .inline-radios label {
  color: rgba(0, 102, 167, 0.87);
  font-weight: 600;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.location-wrapper .inline-radios label input[type=radio] {
  margin-right: 5px;
}

.location-wrapper .inline-radios label + label {
  margin-left: 20px;
}

.location-wrapper .inline-radios label.disabled {
  color: #aaa;
  pointer-events: none;
}

.location-wrapper p {
  margin: 0 0 45px;
  font-size: 15px;
}

.location-wrapper .input-field {
  box-shadow: #b1ceec 0px 1px 7px 1px;
  padding: 10px 6px;
  border-radius: 4px;
  margin: 20px 0;
}

.location-wrapper .input-field .inputbox {
  display: grid;
  grid-template-columns: 1fr 140px;
  align-items: center;
}

.location-wrapper .input-field input {
  border: none;
  width: 100%;
  padding: 0 10px;
}

.location-wrapper .input-field button {
  background-color: var(--green-alt) !important;
  color: #fff !important;
  width: 140px;
  padding: 5px 3px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.location-wrapper .input-field button span {
  margin-right: 5px;
}

.location-wrapper .empty-locations .img {
  height: 240px;
  margin: 50px 0 40px;
}

.location-wrapper .empty-locations .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.location-wrapper .empty-locations .my {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location-wrapper .empty-locations .my small {
  color: rgba(137, 167, 193, 0.5);
  font-size: 13px;
}

.location-wrapper .empty-locations .my button {
  border-color: var(--green-alt) !important;
  color: var(--green-alt) !important;
  font-size: 15px;
  padding: 0.5rem 1.5rem;
  border-radius: 2px;
  margin: 8px 0;
  cursor: pointer;
}

.location-wrapper .empty-locations .my p {
  margin: 30px 50px;
  text-align: center;
  font-size: 15px;
  line-height: 1.2;
  color: #89a7c1;
}

.site__footer .footer-top {
  background-color: var(--footer-background-alt);
}

.site__footer .footer-top .container {
  padding: 48px 16px;
  min-height: 120px;
}

.site__footer .footer-bottom {
  background-color: var(--footer-background);
  border-top: 1px dotted #526274;
}

.site__footer .footer-bottom .container {
  padding: 16px;
  display: flex;
  justify-content: center;
  color: #5c6f83;
}

.site__overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 56px;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.site__overlay.shown {
  display: block;
}

.menu-sections-nav {
  background-color: var(--page-background);
  box-shadow: rgba(210, 221, 233, 0.5) 5px 5px 5px;
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 2;
}

.menu-sections-nav .menu-tabs {
  display: flex;
  justify-content: space-between;
}

.menu-sections-nav .menu-tabs .menu-tab {
  text-align: center;
}

.menu-sections-nav .menu-tabs a {
  display: inline-block;
  border-bottom: 3px solid transparent;
  padding: 15px 0 12px;
  text-transform: uppercase;
  font-size: 12px;
  color: #aaa;
  font-weight: 600;
}

.menu-sections-nav .menu-tabs a.active {
  border-bottom-color: green;
}

.card,
.additional-menu-item,
.cart-card,
.side-cart,
.cart-preview .empty,
.menu-card {
  border-radius: var(--card-border-radius);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
}

.menu-card {
  overflow: hidden;
  display: grid;
  grid-template-rows: 130px 1fr;
  min-height: 280px;
}

.menu-card .menu-image {
  height: 130px;
  position: relative;
  overflow: hidden;
}

.menu-card .menu-image .image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.menu-card .menu-image .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-card .menu-image .overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1) url("/images/shadow.svg") no-repeat;
  background-position: bottom left;
  background-size: 120px;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.menu-card .menu-image .overlay .menu-type {
  display: inline-block;
  height: 18px;
  width: 18px;
  border: 1px solid #aaa;
  position: relative;
  background-color: #fff;
  border-radius: 2px;
}

.menu-card .menu-image .overlay .menu-type::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #aaa;
}

.menu-card .menu-image .overlay .menu-type.veg {
  border-color: var(--green-alt);
}

.menu-card .menu-image .overlay .menu-type.veg::after {
  background-color: var(--green-alt);
}

.menu-card .menu-image .overlay .menu-type.non-veg {
  border-color: #ab0000;
}

.menu-card .menu-image .overlay .menu-type.non-veg::after {
  background-color: #ab0000;
}

.menu-card .menu-image .overlay .menu-price {
  margin-bottom: 0.2rem;
}

.menu-card .menu-image .overlay .menu-price span {
  font-size: 15px;
}

.menu-card .menu-details {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-card .menu-details .menu-name {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  padding-bottom: 1rem;
  flex-grow: 1;
  font-weight: 600;
}

.menu-card .menu-details .menu-name p {
  margin: 0.5rem 0;
}

.menu-card .menu-details .menu-name span {
  font-size: 12.5px;
  color: var(--text-color-muted);
  font-weight: normal;
}

.menu-card .menu-details .menu-selector {
  border-top: 1px solid #eee;
  padding: 12px 0 14px;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  gap: 20px;
}

.menu-card .menu-details .menu-selector label {
  font-size: 12px;
  height: 13px;
  color: rgba(122, 122, 122, 0.87);
  margin-bottom: 3px;
  display: block;
}

.menu-card .menu-details .menu-selector select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-apperance: none;
  width: 100%;
  background: #fff url("/images/down_arrow_filled.svg") no-repeat;
  background-size: 10px;
  background-position-y: center;
  background-position-x: calc(100% - 5px);
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 2px 0 6px;
  font-size: 13px;
  text-transform: capitalize;
  color: var(--text-color);
  cursor: pointer;
}

.menu-card .menu-details .menu-selector select:disabled {
  background-image: none;
  width: 6nu 0%;
}

.menu-card .menu-details .menu-actions {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.menu-card .menu-details .menu-actions .addToCart {
  padding: 0.6rem 0.5rem;
  margin-left: auto;
  border: 1px solid var(--green-alt);
  color: var(--green-alt);
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.cart-preview {
  margin-top: 100px;
}

.cart-preview .empty {
  height: 450px;
  width: 320px;
  position: relative;
  padding: 260px 2rem 2rem;
}

.cart-preview .empty img {
  height: 180px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  right: 0;
}

.cart-preview .empty h3 {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  color: #718091;
}

.cart-preview .empty h3 small {
  display: block;
  margin-top: 6px;
  font-size: 15px;
  text-transform: none;
  font-weight: normal;
}

.cart-preview.fixed {
  position: fixed;
  top: 10px;
}

.side-cart {
  border-radius: 0;
  min-height: 400px;
  max-height: 600px;
  width: 320px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
}

.side-cart::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  background-color: #fff;
  border: 1px solid var(--green);
}

.side-cart .added-items {
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
}

.side-cart .cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #eff5fb;
  min-height: 6rem;
  padding: 1.2rem 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px -0.56rem 0.62rem 0px;
}

.side-cart .cta > div {
  font-weight: 600;
  color: #333;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}

.side-cart .cta a {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--green);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  transition: background 0.2s ease-in;
  border-radius: 4px;
  text-align: center;
}

.side-cart .cta a:hover {
  background-color: var(--green-hover);
}

.added-items .item {
  padding: 1rem;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 0;
}

.added-items .item figure {
  background-color: #ddd;
  height: 60px;
  width: 60px;
  border-radius: 3px;
  margin: 0;
  grid-row: 1/2;
  overflow: hidden;
}

.added-items .item figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.added-items .item .details {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}

.added-items .item .details h2 {
  margin: 0 0 4px;
  padding: 0;
  font-size: 15px;
  color: var(--text-color);
}

.added-items .item .details p {
  margin: 0;
  font-size: 12px;
  color: #64818f;
}

.added-items .item .details .more {
  margin: 8px 0;
}

.added-items .item .details .more span {
  color: rgba(53, 53, 53, 0.87);
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
}

.added-items .item .details .more span + span::before {
  content: "|";
  padding: 0 8px;
}

.added-items .item .price-q {
  grid-row: 2/3;
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.added-items .item .price-q h5 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #2c6580;
}

.added-items .item .custom {
  grid-row: 3/4;
  grid-column: 1/3;
  padding: 0.25rem 0;
}

.added-items .item .custom span {
  color: #5799e1;
  font-size: 13px;
  font-weight: 600;
}

.added-items .item .custom p:empty {
  display: none;
}

.added-items .item .custom p {
  color: #64818f;
  font-size: 12px;
  margin: 4px 0 0;
}

.added-items .item .custom p strong {
  font-weight: 600;
}

.added-items .item + .item {
  border-top: 1px dashed #ccc;
}

.cart-card {
  padding: 1rem;
  margin-bottom: 0.75rem;
}

.cart-card.item {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 140px 1fr;
  gap: 0;
}

.cart-card.item figure {
  background-color: #ddd;
  height: 110px;
  width: 110px;
  border-radius: 4px;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.cart-card.item figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.cart-card.item .info {
  display: grid;
  grid-template-columns: 1fr 150px;
}

.cart-card.item .info .details {
  display: flex;
  flex-direction: column;
}

.cart-card.item .info .details h2 {
  margin: 0 0 8px;
  padding: 0;
  font-size: 17px;
  color: var(--text-color);
}

.cart-card.item .info .details p {
  margin: 0;
  font-size: 14px;
  color: #64818f;
}

.cart-card.item .info .details .more {
  margin: 12px 0;
}

.cart-card.item .info .details .more span {
  color: rgba(53, 53, 53, 0.87);
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.cart-card.item .info .details .more span + span::before {
  content: "|";
  padding: 0 10px;
}

.cart-card.item .info .price-q {
  justify-self: end;
  text-align: right;
}

.cart-card.item .info .price-q h5 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #2c6580;
}

.cart-card.item .custom {
  border-top: 1px dashed #ccc;
  padding: 0.85rem 0 0;
}

.cart-card.item .custom span {
  color: #5799e1;
  font-size: 14px;
  font-weight: 600;
}

.cart-card.item .custom p:empty {
  display: none;
}

.cart-card.item .custom p {
  color: #64818f;
  font-size: 12.5px;
  margin: 6px 0 0;
}

.cart-card.item .custom p strong {
  font-weight: 600;
}

.cart-card.price dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0;
}

.cart-card.price dl dd,
.cart-card.price dl dt {
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-color);
}

.cart-card.price dl dd {
  justify-self: end;
  font-weight: 600;
}

.cart-card.price dl:last-of-type {
  border: 1px dashed #ddd;
  border-width: 1px 0;
  padding: 10px 0;
  font-weight: 600;
  margin: 10px 0;
}

.cart-card.price .cta {
  padding: 4px 0;
}

.cart-card.price .cta button {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--green);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  transition: background 0.2s ease-in;
}

.cart-card.price .cta button:hover {
  background-color: var(--green-hover);
}

.additional-menu {
  overflow: hidden;
}

.additional-menu .wrapper {
  margin: 0 -4px;
  overflow-x: auto;
  width: calc(100% + 4px);
}

.additional-menu-item {
  padding: 0 !important;
  overflow: hidden;
  display: grid;
  grid-template-rows: 180px;
  margin: 4px;
}

.additional-menu-item figure {
  background-color: #ddd;
  width: calc(100% - 16px);
  margin: 0 8px;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.additional-menu-item figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.additional-menu-item figure .overlay {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1) url("/images/shadow.svg") no-repeat;
  background-position: bottom left;
  background-size: 120px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column-reverse;
  color: #fff;
  font-size: 12px;
}

.additional-menu-item .footer {
  padding: 10px 0;
  text-align: center;
}

.additional-menu-item .footer .btn {
  color: var(--green);
  text-transform: uppercase;
  background-color: #fff;
  font-size: 14px;
}

.green-btn,
.saved-address .info .btn,
.location .text .btns .btn,
.location-wrapper .empty-locations .my button {
  border: 1px solid var(--green);
  color: var(--green);
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.location {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: flex-start;
}

.location .icon {
  width: 60px;
  padding-left: 6px;
  padding-top: 20px;
  opacity: 0.7;
}

.location .text {
  padding: 10px 0 0;
  flex-grow: 1;
}

.location .text p {
  margin: 0;
  color: var(--text-color);
}

.location .text p span {
  text-transform: uppercase;
  font-size: 14px;
}

.location .text p small {
  font-size: 12px;
  display: block;
  color: var(--text-color-muted);
  margin-top: 4px;
}

.location .text .btns {
  text-align: right;
  margin: 10px 0 0;
}

.saved-address {
  border-top: 1px dotted #888;
  margin-top: 10px;
  padding-top: 5px;
}

.saved-address .info {
  display: grid;
  grid-template-columns: 40px 1fr 100px;
  align-items: center;
  font-size: 13px;
  padding-left: 6px;
}

.saved-address .info span {
  opacity: 0.6;
}

.saved-address .info p {
  max-width: 150px;
}

.redeem {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.redeem .icon:first-of-type {
  width: 60px;
  padding-left: 10px;
  opacity: 0.7;
}

.redeem .icon:last-of-type {
  width: 20px;
  opacity: 0.4;
}

.redeem .text {
  padding: 10px 0;
  flex-grow: 1;
}

.redeem .text p {
  margin: 0;
  color: var(--text-color);
}

.redeem .text p small {
  display: block;
  color: var(--text-color-muted);
  margin-top: 4px;
}

.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  background-color: #fff;
  margin-top: 30px;
}

.empty-cart .content {
  text-align: center;
}

.empty-cart .content img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 145px;
  width: 145px;
  -o-object-fit: contain;
     object-fit: contain;
}

.empty-cart .content h2 {
  text-transform: uppercase;
  color: #718091;
  font-size: 20px;
  letter-spacing: 1px;
}

.empty-cart .content h2 small {
  margin-top: 2px;
  text-transform: none;
  display: block;
  font-size: 16px;
  color: #69819e;
  font-weight: normal;
  letter-spacing: 0px;
}

.empty-cart .content p {
  margin-top: 40px;
}

.empty-cart .content p .btn {
  padding: 0.7rem 1.5rem;
  background-color: var(--green-hover);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
  transition: background 0.2s ease-in;
}

.empty-cart .content p .btn:hover {
  background-color: var(--green);
}

.page {
  min-height: 90vh;
  background-color: var(--page-background-alt);
}

.page.home-menu {
  padding-top: 120px;
}

.page.home-menu .home-menus-wrapper {
  display: grid;
  grid-template-columns: 1fr 450px;
  gap: 30px;
}

.page.home-menu .all-menus section .header {
  position: relative;
}

.page.home-menu .all-menus section .header::before {
  content: "";
  height: 1px;
  position: absolute;
  left: 0;
  width: calc(100% - 120px);
  top: 50%;
  margin-top: -5px;
  background-color: #ddd;
}

.page.home-menu .all-menus section .header h4 {
  margin: 20px 0 30px 30px;
  padding: 18px 30px;
  display: inline-block;
  border-radius: 30px;
  background-color: #fff;
  color: #222;
  text-transform: uppercase;
  line-height: 1;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  z-index: 1;
}

.page.home-menu .all-menus section .header h4.veg,
.page.home-menu .all-menus section .header h4.non-veg {
  padding-left: 56px;
}

.page.home-menu .all-menus section .header h4.veg::before,
.page.home-menu .all-menus section .header h4.non-veg::before {
  content: "";
  position: absolute;
  left: 24px;
  top: 50%;
  height: 16px;
  width: 16px;
  margin-top: -9px;
  border-radius: 4px;
  border: 1px solid transparent;
}

.page.home-menu .all-menus section .header h4.veg::after,
.page.home-menu .all-menus section .header h4.non-veg::after {
  content: "";
  position: absolute;
  left: 28px;
  top: 50%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: transparent;
  margin-top: -5px;
}

.page.home-menu .all-menus section .header h4.veg {
  color: #1fb31a;
}

.page.home-menu .all-menus section .header h4.veg::before {
  border-color: var(--green-alt);
}

.page.home-menu .all-menus section .header h4.veg::after {
  background-color: var(--green-alt);
}

.page.home-menu .all-menus section .header h4.non-veg {
  color: red;
}

.page.home-menu .all-menus section .header h4.non-veg::before {
  border-color: red;
}

.page.home-menu .all-menus section .header h4.non-veg::after {
  background-color: red;
}

.page.home-menu .all-menus section .menu-grid {
  display: flex;
  flex-wrap: wrap;
}

.page.home-menu .all-menus section .menu-grid .menu-card {
  width: 350px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.page.home-menu .all-menus section:last-of-type {
  margin-bottom: 5rem;
}

.page.checkout {
  padding-top: 56px;
  padding-bottom: 80px;
}

.page.checkout .cart-checkout-wrapper {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 100px;
  margin: 0 20px;
  padding-top: 20px;
}

.page.checkout .menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
}

.page.checkout .cart-menu .explore {
  color: #0066a7;
  font-weight: 600;
}

.page.checkout .cart-menu .header,
.page.checkout .side-menu .header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page.checkout .cart-menu .header h3,
.page.checkout .side-menu .header h3 {
  color: #222;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

