.alert-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);

  display: none;
  z-index: -10;

  &.shown {
    z-index: 10;
    display: block;
  }

  .alert-wrapper {
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;

    .alertbox {
      background-color: #fff;
      min-width: 400px;
      border-radius: 3px;
      width: 25vw;

      h4 {
        display: block;
        background: url("/images/popup_header.svg") no-repeat;
        background-size: contain;
        background-position: top left;
        margin: -11px 0 0;
        height: 40px;
        padding: 10px 15px;
        font-size: 15px;
        color: #fff;
        line-height: 1;
        font-weight: 400;
      }

      p {
        margin: 8px 0 10px;
        padding: 15px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 600;
      }

      button {
        float: right;
        margin: 15px;
        padding: 0.8rem;
        background-color: rgb(101, 171, 11);
        color: #fff;
        line-height: 1;
        border: 1px solid rgba(53, 53, 53, 0.46);
        border-radius: 2px;
        cursor: pointer;
      }
    }
  }
}

.site__header {
  background-color: rgb(var(--primary-color-rgb));
  padding: 0 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 56px;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hamburger {
      width: 60px;
      color: #fff;
      cursor: pointer;

      &.inactive {
        pointer-events: none;
        opacity: 0.6;
      }
    }

    .brand {
      margin-right: auto;
      a {
        color: var(--navbar-link-color);
      }
    }
  }

  .header-menus {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &.inactive {
      pointer-events: none;
      opacity: 0.6;
    }
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;

      li {
        a {
          color: var(--navbar-link-color);
        }
      }
    }
  }

  .location-menu {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 10px;
    color: var(--navbar-link-color);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    height: 56px;
    background-color: rgb(0, 88, 153);
    user-select: none;
    cursor: pointer;

    span {
      width: 40px;
      text-align: center;
      opacity: 0.7;
    }

    p {
      margin: 0 16px;

      small {
        display: block;
        font-size: 12px;
        opacity: 0.8;
        margin-top: 2px;
      }
    }

    & + .user-menu {
      border-left: none;
    }
  }

  .cart-menu {
    a {
      display: flex;
      align-items: center;
      color: var(--navbar-link-color);
    }

    span {
      margin-right: 15px;
    }
  }

  .user-menu {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    column-gap: 10px;
    margin: 0 10px 0 0;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 16px;

    .user-icon {
      justify-self: center;
      color: var(--navbar-link-color);

      span {
        font-size: 30px;
      }
    }

    .user-info {
      color: var(--navbar-link-color);
      padding: 10px 0;

      p {
        margin: 0;
      }

      small {
        opacity: 0.8;

        span + span::before {
          content: "|";
          margin: 0 6px;
        }
      }

      a {
        color: inherit;
      }
    }
  }
}

.site__drawer {
  width: 400px;
  background-color: #fff;
  position: fixed;
  top: 56px;
  bottom: 0;
  box-shadow: 0 2px 10px rgba(82, 98, 116, 0.3);
  transition: transform 0.2s ease-in-out;
  z-index: 11;

  &.drawer_left {
    left: 0;
    transform: translateX(-100%);
  }

  &.drawer_right {
    width: 586px;
    right: 0;
    transform: translateX(100%);
  }

  &.opened {
    transform: translateX(0);
  }
}

.drawer-menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;

  li {
    &:first-child {
      margin-top: 15px;
    }
    a {
      display: block;
      padding: 1.45rem 2rem 1.45rem 5rem;
      color: var(--text-color);
      cursor: pointer;
      position: relative;
      background-color: transparent;
      font-size: 16px;

      span {
        position: absolute;
        left: 2rem;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.8;
      }
    }

    &:hover {
      background-color: #fafafa;
    }
  }
}

.location-wrapper {
  padding: 2rem 4rem;

  h3 {
    margin: 0.5rem 0 1rem;
    font-size: 25px;
  }
  .inline-radios {
    padding: 10px 0;
    display: flex;
    align-items: center;

    label {
      color: rgba(0, 102, 167, 0.87);
      font-weight: 600;
      font-size: 13px;
      display: flex;
      align-items: center;

      input[type="radio"] {
        margin-right: 5px;
      }

      & + label {
        margin-left: 20px;
      }

      &.disabled {
        color: #aaa;
        pointer-events: none;
      }
    }
  }

  p {
    margin: 0 0 45px;
    font-size: 15px;
  }

  .input-field {
    box-shadow: rgb(177, 206, 236) 0px 1px 7px 1px;
    padding: 10px 6px;
    border-radius: 4px;
    margin: 20px 0;

    .inputbox {
      display: grid;
      grid-template-columns: 1fr 140px;
      align-items: center;
    }

    input {
      border: none;
      width: 100%;
      padding: 0 10px;
    }

    button {
      background-color: var(--green-alt) !important;
      color: #fff !important;
      width: 140px;
      padding: 5px 3px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      span {
        margin-right: 5px;
      }
    }
  }

  .empty-locations {
    .img {
      height: 240px;
      margin: 50px 0 40px;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .my {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      small {
        color: rgba(137, 167, 193, 0.5);
        font-size: 13px;
      }

      button {
        @extend .green-btn;
        border-color: var(--green-alt) !important;
        color: var(--green-alt) !important;
        font-size: 15px;
        padding: 0.5rem 1.5rem;
        border-radius: 2px;
        margin: 8px 0;
        cursor: pointer;
      }

      p {
        margin: 30px 50px;
        text-align: center;
        font-size: 15px;
        line-height: 1.2;
        color: rgb(137, 167, 193);
      }
    }
  }
}

.site__footer {
  .footer-top {
    background-color: var(--footer-background-alt);

    .container {
      padding: 48px 16px;
      min-height: 120px;
    }
  }
  .footer-bottom {
    background-color: var(--footer-background);
    border-top: 1px dotted rgb(82, 98, 116);

    .container {
      padding: 16px;
      display: flex;
      justify-content: center;
      color: rgb(92, 111, 131);
    }
  }
}

.site__overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 56px;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;

  &.shown {
    display: block;
  }
}

.menu-sections-nav {
  background-color: var(--page-background);
  box-shadow: rgb(210 221 233 / 50%) 5px 5px 5px;
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 2;

  .menu-tabs {
    display: flex;
    justify-content: space-between;

    .menu-tab {
      text-align: center;
    }

    a {
      display: inline-block;
      border-bottom: 3px solid transparent;
      padding: 15px 0 12px;
      text-transform: uppercase;
      font-size: 12px;
      color: #aaa;
      font-weight: 600;

      &.active {
        border-bottom-color: green;
      }
    }
  }
}

.card {
  border-radius: var(--card-border-radius);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
}

.menu-card {
  @extend .card;
  overflow: hidden;
  display: grid;
  grid-template-rows: 130px 1fr;
  min-height: 280px;

  .menu-image {
    height: 130px;
    position: relative;
    overflow: hidden;

    .image {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 0;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.1) url("/images/shadow.svg") no-repeat;
      background-position: bottom left;
      background-size: 120px;
      padding: 0.75rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #fff;
      font-weight: 700;
      font-size: 18px;

      .menu-type {
        display: inline-block;
        height: 18px;
        width: 18px;
        border: 1px solid #aaa;
        position: relative;
        background-color: #fff;
        border-radius: 2px;

        &::after {
          content: "";
          position: absolute;
          left: 4px;
          top: 4px;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          background-color: #aaa;
        }

        &.veg {
          border-color: var(--green-alt);
          &::after {
            background-color: var(--green-alt);
          }
        }

        &.non-veg {
          border-color: rgb(171, 0, 0);
          &::after {
            background-color: rgb(171, 0, 0);
          }
        }
      }

      .menu-price {
        margin-bottom: 0.2rem;

        span {
          font-size: 15px;
        }
      }
    }
  }

  .menu-details {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .menu-name {
      font-size: 16px;
      color: #333;
      margin-bottom: 10px;
      padding-bottom: 1rem;
      flex-grow: 1;
      font-weight: 600;

      p {
        margin: 0.5rem 0;
      }

      span {
        font-size: 12.5px;
        color: var(--text-color-muted);
        font-weight: normal;
      }
    }

    .menu-selector {
      border-top: 1px solid #eee;
      padding: 12px 0 14px;
      display: grid;
      grid-template-columns: 1fr 1.4fr;
      gap: 20px;

      label {
        font-size: 12px;
        height: 13px;
        color: rgba(122, 122, 122, 0.87);
        margin-bottom: 3px;
        display: block;
      }

      select {
        appearance: none;
        -webkit-apperance: none;
        width: 100%;
        background: #fff url("/images/down_arrow_filled.svg") no-repeat;
        background-size: 10px;
        background-position-y: center;
        background-position-x: calc(100% - 5px);
        border: none;
        border-bottom: 1px solid #ddd;
        padding: 2px 0 6px;
        font-size: 13px;
        text-transform: capitalize;
        color: var(--text-color);
        cursor: pointer;

        &:disabled {
          background-image: none;
          width: 6nu 0%;
        }
      }
    }

    .menu-actions {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      margin-top: 0.5rem;

      .btns {
        margin-left: auto;
      }

      .btn {
        padding: 0.6rem 0.5rem;
        margin-left: auto;
        border: 1px solid var(--green-alt);
        color: var(--green-alt);
        background-color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: -0.5px;
        height: 32px;
      }
    }
  }
}

.cart-preview {
  margin-top: 100px;

  .empty {
    @extend .card;
    height: 450px;
    width: 320px;
    position: relative;
    padding: 260px 2rem 2rem;

    img {
      height: 180px;
      object-fit: contain;
      position: absolute;
      top: 0;
      right: 0;
    }

    h3 {
      font-size: 22px;
      font-weight: 600;
      text-transform: uppercase;
      color: rgb(113, 128, 145);

      small {
        display: block;
        margin-top: 6px;
        font-size: 15px;
        text-transform: none;
        font-weight: normal;
      }
    }
  }

  &.fixed {
    position: fixed;
    top: 10px;
  }
}

.side-cart {
  @extend .card;
  border-radius: 0;
  min-height: 400px;
  max-height: 600px;
  width: 320px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    background-color: #fff;
    border: 1px solid var(--green);
  }

  .added-items {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
  }

  .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(239, 245, 251);
    min-height: 6.2rem;
    padding: 1.2rem 0.75rem 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px -0.56rem 0.62rem 0px;

    > div {
      font-weight: 600;
      color: #333;
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      font-size: 17px;
    }

    a {
      width: 100%;
      padding: 0.8rem;
      background-color: var(--green);
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 1;
      transition: background 0.2s ease-in;
      border-radius: 4px;
      text-align: center;

      &:hover {
        background-color: var(--green-hover);
      }
    }
  }
}

.added-items {
  .item {
    padding: 1.5rem 0 0;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 0;
    margin: 0 1rem;

    &.sm {
      grid-template-rows: auto 1fr 0;
      padding-bottom: 1rem;
    }

    figure {
      background-color: #ddd;
      height: 60px;
      width: 60px;
      border-radius: 3px;
      margin: 0;
      grid-row: 1/2;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .details {
      grid-row: 1/2;

      display: flex;
      flex-direction: column;

      h2 {
        margin: 0 0 4px;
        padding: 0;
        font-size: 15px;
        color: var(--text-color);
      }

      p {
        margin: 0;
        font-size: 12px;
        color: rgb(100, 129, 143);
      }

      .more {
        margin: 8px 0;

        span {
          color: rgba(53, 53, 53, 0.87);
          font-size: 12px;
          font-weight: 600;
          text-transform: capitalize;

          & + span::before {
            content: "|";
            padding: 0 8px;
          }
        }
      }
    }

    .price-q {
      grid-row: 2/3;
      grid-column: 1/3;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h5 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        color: rgb(44, 101, 128);
      }
    }

    .custom {
      grid-row: 3/4;
      grid-column: 1/3;
      padding: 0.25rem 0 0;

      span {
        color: rgb(87, 153, 225);
        font-size: 13px;
        font-weight: 600;
      }

      p:empty {
        display: none;
      }

      p {
        color: rgb(100, 129, 143);
        font-size: 12px;
        margin: 4px 0 0;

        strong {
          font-weight: 600;
        }
      }
    }

    & + .item {
      border-top: 1px dashed #ccc;
    }

    &:last-of-type {
      padding-bottom: 1.5rem;
    }
  }
}

.cart-card {
  @extend .card;
  padding: 1rem;
  margin-bottom: 0.75rem;

  &.item {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 125px 1fr;
    gap: 0;

    figure {
      background-color: #ddd;
      height: 100px;
      width: 100px;
      border-radius: 4px;
      margin: 0;
      overflow: hidden;
      position: relative;

      .menu-type {
        display: inline-block;
        height: 14px;
        width: 14px;
        border: 1px solid #aaa;
        position: relative;
        background-color: #fff;
        border-radius: 2px;
        position: absolute;
        margin: 3px;

        &::after {
          content: "";
          position: absolute;
          left: 2px;
          top: 2px;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          background-color: #fff;
        }

        &.veg {
          border-color: #338309;
          &::after {
            background-color: #338309;
          }
        }

        &.non-veg {
          border-color: rgb(171, 0, 0);
          &::after {
            background-color: rgb(171, 0, 0);
          }
        }
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .info {
      display: grid;
      grid-template-columns: 1fr 150px;

      .details {
        display: flex;
        flex-direction: column;
        h2 {
          margin: 0 0 8px;
          padding: 0;
          font-size: 17px;
          color: var(--text-color);
        }

        p {
          margin: 0;
          font-size: 14px;
          color: rgb(100, 129, 143);
        }

        .more {
          margin: 12px 0;

          span {
            color: rgba(53, 53, 53, 0.87);
            font-size: 14px;
            font-weight: 600;
            text-transform: capitalize;

            & + span::before {
              content: "|";
              padding: 0 10px;
            }
          }
        }
      }

      .price-q {
        justify-self: end;
        text-align: right;
        h5 {
          margin: 0;
          padding: 0;
          font-size: 18px;
          color: rgb(44, 101, 128);
        }
      }
    }
    .custom {
      border-top: 1px dashed #ccc;
      padding: 0.85rem 0 0;

      span {
        color: rgb(87, 153, 225);
        font-size: 14px;
        font-weight: 600;
      }

      p:empty {
        display: none;
      }

      p {
        color: rgb(100, 129, 143);
        font-size: 12.5px;
        margin: 6px 0 0;

        strong {
          font-weight: 600;
        }
      }
    }
  }

  &.price {
    dl {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      margin: 0;

      dd,
      dt {
        padding: 10px 0;
        font-size: 16px;
        color: var(--text-color);
      }

      dd {
        justify-self: end;
        font-weight: 600;
      }

      &:last-of-type {
        border: 1px dashed #ddd;
        border-width: 1px 0;
        padding: 10px 0;
        font-weight: 600;
        margin: 10px 0;
      }
    }
    .cta {
      padding: 4px 0;
      button {
        width: 100%;
        padding: 0.8rem;
        background-color: var(--green);
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1;
        transition: background 0.2s ease-in;

        &:hover {
          background-color: var(--green-hover);
        }
      }
    }
  }
}

.additional-menu {
  overflow: hidden;

  .wrapper {
    margin: 0 -4px;
    overflow-x: auto;
    width: calc(100% + 4px);
  }
}

.additional-menu-item {
  figure {
    background-color: #ddd;
    width: calc(100% - 16px);
    margin: 0 8px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;

    .menu-type {
      display: inline-block;
      height: 16px;
      width: 16px;
      border: 1px solid #aaa;
      position: relative;
      background-color: #fff;
      border-radius: 2px;
      position: absolute;
      margin: 3px;

      &::after {
        content: "";
        position: absolute;
        left: 3px;
        top: 3px;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: #fff;
      }

      &.veg {
        border-color: #338309;
        &::after {
          background-color: #338309;
        }
      }

      &.non-veg {
        border-color: rgb(171, 0, 0);
        &::after {
          background-color: rgb(171, 0, 0);
        }
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    .overlay {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.1) url("/images/shadow.svg") no-repeat;
      background-position: bottom left;
      background-size: 120px;
      padding: 0.5rem;
      display: flex;
      flex-direction: column-reverse;
      color: #fff;
      font-size: 12px;
    }
  }

  @extend .card;
  padding: 0 !important;
  overflow: hidden;
  display: grid;
  grid-template-rows: 170px;
  margin: 4px;

  .footer {
    padding: 10px 0;
    text-align: center;
    .btn {
      color: var(--green);
      text-transform: uppercase;
      background-color: #fff;
      font-size: 14px;
    }
  }
}

.green-btn {
  border: 1px solid var(--green);
  color: var(--green);
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.location {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: flex-start;

  .icon {
    width: 60px;
    padding-left: 6px;
    padding-top: 20px;
    opacity: 0.7;
  }
  .text {
    padding: 10px 0 0;
    flex-grow: 1;

    p {
      margin: 0;
      color: var(--text-color);

      span {
        text-transform: uppercase;
        font-size: 14px;
        color: rgba(0, 102, 167, 0.87);
        font-weight: 600;
      }

      small {
        font-size: 13px;
        display: block;
        color: rgb(179, 179, 179);
        margin-top: 4px;
        line-height: 1.3;
      }
    }

    .btns {
      text-align: right;
      margin: 10px 0 0;

      .btn {
        @extend .green-btn;
        padding: 0.55rem 0.5rem;
        font-size: 14px;
      }
    }
  }
}

.saved-address {
  border-top: 1px dotted #888;
  margin-top: 10px;
  padding-top: 5px;

  .info {
    display: grid;
    grid-template-columns: 40px 1fr 100px;
    align-items: center;
    font-size: 13px;
    padding-left: 6px;

    span {
      opacity: 0.6;
    }

    p {
      max-width: 150px;
    }

    .btn {
      @extend .green-btn;
    }
  }
}

.redeem {
  display: flex;
  align-items: center;
  cursor: pointer;

  .icon {
    &:first-of-type {
      width: 60px;
      padding-left: 10px;
      opacity: 0.7;
    }

    &:last-of-type {
      width: 20px;
      opacity: 0.4;
    }
  }

  .text {
    padding: 10px 0;
    flex-grow: 1;
    p {
      margin: 0;
      color: var(--text-color);

      small {
        display: block;
        color: var(--text-color-muted);
        margin-top: 4px;
      }
    }
  }
}

.empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  background-color: #fff;
  margin-top: 30px;

  .content {
    text-align: center;
    padding-top: 150px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 145px;
      right: 0;
      background-image: url("/images/cart_empty.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    h2 {
      text-transform: uppercase;
      color: rgb(113, 128, 145);
      font-size: 20px;
      letter-spacing: 1px;

      small {
        margin-top: 2px;
        text-transform: none;
        display: block;
        font-size: 16px;
        color: rgb(105, 129, 158);
        font-weight: normal;
        letter-spacing: 0px;
      }
    }

    p {
      margin-top: 40px;

      .btn {
        padding: 0.7rem 1.5rem;
        background-color: var(--green-hover);
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1;
        transition: background 0.2s ease-in;

        &:hover {
          background-color: var(--green);
        }
      }
    }
  }
}

.quantity-control {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  align-items: center;
  border: 1px solid #ccc;
  font-size: 12px;
  height: 30px;
  border-radius: 3px;
  margin: 18px 0 8px;

  &.no-add {
    grid-template-columns: 40px 30px;
    background-color: #f8f8f8;
  }

  button {
    border: none;
    background-color: #fff;
    cursor: pointer;
    padding: 0;
    height: 28px;
    text-align: center;

    span {
      font-size: 16px;
      color: #888;
    }

    &:focus {
      outline: none;
    }

    &.less {
      border-right: 1px solid #ccc;
      border-radius: 3px 0 0 3px;
    }

    &.more {
      border-left: 1px solid #ccc;
      border-radius: 0 3px 3px 0;
    }
  }

  p {
    text-align: center;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
  }

  &.inline {
    margin: 0;
    height: 32px;
    button {
      height: 30px;
    }
  }
}
