.page.home-menu {
  min-height: 90vh;
  background-color: var(--page-background-alt);
  padding-top: 120px;

  .home-menus-wrapper {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 50px;
  }

  .all-menus {
    section {
      margin-bottom: 4rem;
      .header {
        position: relative;

        &::before {
          content: "";
          height: 1px;
          position: absolute;
          left: 0;
          width: calc(100% - 200px);
          top: 50%;
          margin-top: -5px;
          background-color: #ddd;
        }

        h4 {
          margin: 20px 0 30px 30px;
          padding: 18px 30px;
          display: inline-block;
          border-radius: 30px;
          background-color: #fff;
          color: #222;
          text-transform: uppercase;
          line-height: 1;
          font-size: 16px;
          font-weight: normal;
          position: relative;
          z-index: 1;
        }
      }

      .menu-grid {
        display: flex;
        flex-wrap: wrap;

        .menu-card {
          width: 350px;
          margin-right: 50px;
          margin-bottom: 50px;
        }
      }
    }
  }
}
