@import "mixins";

.page {
  min-height: 85vh;
  background-color: var(--page-background-alt);
}

.page.home-menu {
  padding-top: 120px;

  .home-menus-wrapper {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 40px;

    @include desktop-lg {
      grid-template-columns: 1fr 450px;
      gap: 80px;
    }
  }

  .all-menus {
    section {
      .header {
        position: relative;

        &::before {
          content: "";
          height: 1px;
          position: absolute;
          left: 0;
          width: calc(100% - 120px);
          top: 50%;
          margin-top: -5px;
          background-color: #ddd;
        }

        h4 {
          margin: 20px 0 30px 30px;
          padding: 18px 30px;
          display: inline-block;
          border-radius: 30px;
          background-color: #fff;
          color: #222;
          text-transform: uppercase;
          line-height: 1;
          font-size: 16px;
          font-weight: normal;
          position: relative;
          z-index: 1;

          &.veg,
          &.non-veg {
            padding-left: 56px;

            &::before {
              content: "";
              position: absolute;
              left: 24px;
              top: 50%;
              height: 16px;
              width: 16px;
              margin-top: -9px;
              border-radius: 4px;
              border: 1px solid transparent;
            }

            &::after {
              content: "";
              position: absolute;
              left: 28px;
              top: 50%;
              height: 10px;
              width: 10px;
              border-radius: 50%;
              background-color: transparent;
              margin-top: -5px;
            }
          }

          &.veg {
            color: rgb(31, 179, 26);
            &::before {
              border-color: var(--green-alt);
            }
            &::after {
              background-color: var(--green-alt);
            }
          }

          &.non-veg {
            color: rgb(255, 0, 0);
            &::before {
              border-color: rgb(255, 0, 0);
            }
            &::after {
              background-color: rgb(255, 0, 0);
            }
          }
        }

        @include tablet {
          &::before {
            width: 100%;
          }
        }

        @include mobile {
          text-align: center;

          h4 {
            margin: 8px auto 20px;
            padding: 12px 24px;
            font-size: 14px;
          }
        }
      }

      .menu-grid {
        // display: flex;
        // flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;

        // .menu-card {
        //   width: 320px;
        //   margin-right: 30px;
        //   margin-bottom: 30px;

        //   @include desktop-lg {
        //     width: 350px;
        //     margin-right: 50px;
        //     margin-bottom: 50px;
        //   }
        // }

        @include desktop-lg {
          grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
          gap: 50px;
        }
      }

      &:last-of-type {
        margin-bottom: 5rem;
      }
    }
  }

  @include tablet {
    .home-menus-wrapper {
      grid-template-columns: 1fr;
    }

    .all-menus {
      section {
        .menu-grid {
          grid-template-columns: repeat(2, 1fr);
          gap: 30px;

          .menu-card {
            width: 100%;
            margin: 0;
          }
        }
      }
    }

    .side-menu {
      display: none;
    }
  }

  @include mobile {
    .all-menus {
      section {
        .menu-grid {
          grid-template-columns: 1fr;
          gap: 20px;
        }
      }
    }
  }
}

.page.checkout {
  padding-top: 56px;
  padding-bottom: 80px;

  .cart-checkout-wrapper {
    display: grid;
    margin: 0 20px;
    padding-top: 20px;
    grid-template-columns: 1fr 380px;
    gap: 50px;

    @include desktop-lg {
      grid-template-columns: 1fr 400px;
      gap: 100px;
    }
  }

  .menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
  }

  .cart-menu {
    .explore {
      color: rgb(0, 102, 167);
      font-weight: 600;
    }
  }

  .cart-menu,
  .side-menu {
    .header {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        color: #222;
        font-size: 15px;
        font-weight: 600;
        margin: 0;
      }
    }
  }

  @include tablet {
    .cart-checkout-wrapper {
      grid-template-columns: 1fr;
      margin: 0;
      row-gap: 20px;
    }
  }
}

.page.home {
  background-color: var(--page-background);
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  @include tablet {
    .container {
      padding: 0 1rem;
    }
  }
}

.page.orders {
  padding-top: 56px;
  padding-bottom: 80px;

  &.admin {
    background-color: var(--page-background);
  }

  .container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .header {
    font-size: 17px;
    font-weight: 900;
    color: rgb(52, 86, 108);
    margin: 2rem 0 1rem;
  }

  .orders-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 2vw;
  }

  @include tablet {
    .container {
      padding: 0 1rem;
    }
  }
}

.page.tracking {
  padding-top: 56px;
  padding-bottom: 60px;

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.error404 {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 2rem;

  h1 {
    font-size: 24px;
    margin: 10px 0;
    color: var(--text-color);
  }

  a {
    color: var(--green-alt);
  }
}
