:root {
  --primary-color-rgb: 0, 102, 167;
  // --primary-color-rgb: 26, 92, 163;
  --page-background: #fff;
  --page-background-alt: rgb(242, 242, 242);
  --green: rgb(130, 187, 55);
  --green-hover: rgb(115, 167, 48);
  --green-alt: rgb(0, 171, 0);

  --navbar-link-color: #fff;
  --text-color: #343434;
  --text-color-muted: #777;

  --footer-background: rgb(26, 39, 53);
  --footer-background-alt: rgb(34, 46, 58);

  --btn-border-radius: 3px;
  --card-border-radius: 3px;
}
